In [1]:
import pandas as pd

df = pd.read_csv('ev_sales_world.csv')
df

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,4.900000e+01
1,Australia,Historical,EV stock share,Cars,EV,2011,percent,4.600000e-04
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,6.500000e-03
3,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,4.900000e+01
4,Australia,Historical,EV sales,Cars,BEV,2012,Vehicles,1.700000e+02
...,...,...,...,...,...,...,...,...
2771,World,Historical,Oil displacement Mbd,Cars,EV,2022,Milion barrels per day,4.300000e-01
2772,World,Historical,"Oil displacement, million lge",Cars,EV,2022,"Oil displacement, million lge",2.500000e+04
2773,World,Historical,EV sales,Cars,BEV,2022,Vehicles,7.300000e+06
2774,World,Historical,EV sales share,Cars,EV,2022,percent,1.400000e+01
2775,World,Historical,EV stock share,Cars,EV,2022,percent,2.100000e+00

In [2]:
df.parameter.unique()

array(['EV stock', 'EV stock share', 'EV sales share', 'EV sales',
       'Oil displacement Mbd', 'Oil displacement, million lge',
       'Electricity demand'], dtype=object)

In [13]:
ev_sales_world = df[df['parameter'] == 'EV sales']
ev_sales_world.reset_index(drop=True)

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.0
1,Australia,Historical,EV sales,Cars,BEV,2012,Vehicles,170.0
2,Australia,Historical,EV sales,Cars,PHEV,2012,Vehicles,80.0
3,Australia,Historical,EV sales,Cars,PHEV,2013,Vehicles,100.0
4,Australia,Historical,EV sales,Cars,BEV,2013,Vehicles,190.0
...,...,...,...,...,...,...,...,...
829,World,Historical,EV sales,Cars,BEV,2020,Vehicles,2000000.0
830,World,Historical,EV sales,Cars,BEV,2021,Vehicles,4600000.0
831,World,Historical,EV sales,Cars,PHEV,2021,Vehicles,1900000.0
832,World,Historical,EV sales,Cars,PHEV,2022,Vehicles,2900000.0
833,World,Historical,EV sales,Cars,BEV,2022,Vehicles,7300000.0

In [21]:
ev_sales_world.shape

(834, 8)

In [16]:
ev_sales_world['value'] = ev_sales_world['value'].round().astype(int)

/var/folders/15/23jwx7dn6jd_qz_05y4dsg4w0000gn/T/ipykernel_31155/2703320922.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ev_sales_world['value'] = ev_sales_world['value'].round().astype(int)

In [22]:
ev_sales_world.dtypes

region        object
category      object
parameter     object
mode          object
powertrain    object
year           int64
unit          object
value          int64
dtype: object

In [27]:
ev_sales_world

,region,category,parameter,mode,powertrain,year,unit,value,country_id
3,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49,001
4,Australia,Historical,EV sales,Cars,BEV,2012,Vehicles,170,002
9,Australia,Historical,EV sales,Cars,PHEV,2012,Vehicles,80,003
10,Australia,Historical,EV sales,Cars,PHEV,2013,Vehicles,100,004
15,Australia,Historical,EV sales,Cars,BEV,2013,Vehicles,190,005
...,...,...,...,...,...,...,...,...,...
2754,World,Historical,EV sales,Cars,BEV,2020,Vehicles,2000000,830
2760,World,Historical,EV sales,Cars,BEV,2021,Vehicles,4600000,831
2764,World,Historical,EV sales,Cars,PHEV,2021,Vehicles,1900000,832
2769,World,Historical,EV sales,Cars,PHEV,2022,Vehicles,2900000,833
2773,World,Historical,EV sales,Cars,BEV,2022,Vehicles,7300000,834

In [30]:
cols = ev_sales_world.columns.tolist()
cols.remove('country_id')
cols.insert(0, 'country_id')
ev_sales_world = ev_sales_world[cols]
ev_sales_world.reset_index(drop=True)

,country_id,region,category,parameter,mode,powertrain,year,unit,value
0,001,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49
1,002,Australia,Historical,EV sales,Cars,BEV,2012,Vehicles,170
2,003,Australia,Historical,EV sales,Cars,PHEV,2012,Vehicles,80
3,004,Australia,Historical,EV sales,Cars,PHEV,2013,Vehicles,100
4,005,Australia,Historical,EV sales,Cars,BEV,2013,Vehicles,190
...,...,...,...,...,...,...,...,...,...
829,830,World,Historical,EV sales,Cars,BEV,2020,Vehicles,2000000
830,831,World,Historical,EV sales,Cars,BEV,2021,Vehicles,4600000
831,832,World,Historical,EV sales,Cars,PHEV,2021,Vehicles,1900000
832,833,World,Historical,EV sales,Cars,PHEV,2022,Vehicles,2900000
833,834,World,Historical,EV sales,Cars,BEV,2022,Vehicles,7300000

In [32]:
ev_sales_world.to_csv('ev_sales_world.csv', index=False)