In [24]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [30]:
url = 'https://www.capital.fr/auto/les-20-voitures-electriques-les-plus-vendues-en-france-en-2021-1424558' 
response = requests.get(url)

data = []

if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')

    h2_element = soup.find('h2', text='Les voitures électriques les plus vendues en 2021')
    ol_element = None
    if h2_element:
        ol_element = h2_element.find_next_sibling('ol')

    if ol_element:
        for li in ol_element.find_all('li'):
            car_data = li.text.split(':')
            car_name = car_data[0].strip()
            units_sold = car_data[1].replace('.', '').replace('unités', '').strip()
            data.append([car_name, units_sold])
    else:
        print("No ordered list found on the webpage.")
else:
    print(f"Failed to retrieve the web page, status code: {response.status_code}")

carsales_2021 = pd.DataFrame(data, columns=['Modèle', 'Immatriculations'])
carsales_2021

/var/folders/15/23jwx7dn6jd_qz_05y4dsg4w0000gn/T/ipykernel_1000/1903581385.py:10: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  h2_element = soup.find('h2', text='Les voitures électriques les plus vendues en 2021')

                   Modèle Immatriculations
0           Tesla Model 3            24911
1             Renault Zoé            23573
2           Peugeot e-208            17858
3            Dacia Spring            11386
4                Fiat 500             9556
5       Renault Twingo ZE             8837
6              Kia e-Niro             6304
7          Volkswagen ID3             5860
8          Peugeot e-2008             5461
9          Mini Cooper SE             5141
10  Hyundai Kona Electric             5002
11         Volkswagen ID4             3033
12            Nissan Leaf             2648
13           Citroën e-C4             2569
14           Opel Corsa-e             2479
15         Skoda Enyaq iV             2152
16               MG ZS EV             1913
17  DS3 Crossback E-Tense             1806
18                 BMW i3             1678
19        Volkswagen e-Up             1621

In [48]:
url = 'https://photo.capital.fr/les-10-voitures-electriques-les-plus-vendues-en-france-en-2019-39395#-60j7f' 
response = requests.get(url)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')

card_contents = soup.find_all('div', class_='card-content')
card_contents = card_contents[:-2]

titles = [
    "Renault Zoé (18.817 VENTES)",
    "Tesla Model 3 (6.455 VENTES)",
    "Nissan Leaf (3.738 VENTES)",
    "BMW i3 (2.793 VENTES)",
    "Kia e-Niro (1.850 VENTES)",
    "Smart EQ Fortwo (1.790 VENTES)",
    "Hyundai Kona Electric	 (1.513 VENTES)",
    "Volkswagen E-Golf (661 VENTES)",
    "Hyundai Ioniq Electric (553 VENTES)",
    "Citroën C-Zero (543 VENTES)"
]

car_models = []
units_sold = []

for title in titles:
    if '(' in title:
        model, sold = title.split('(')
        car_models.append(model.strip())
        units_sold.append(sold.replace(' VENTES)', '').replace('.', '').strip())  
    else:
        car_models.append(title.strip())
        units_sold.append("N/A")

carsales_2019 = pd.DataFrame({
    'Modèle': car_models,
    'Immatriculations': units_sold
})

carsales_2019

                   Modèle Immatriculations
0             Renault Zoé            18817
1           Tesla Model 3             6455
2             Nissan Leaf             3738
3                  BMW i3             2793
4              Kia e-Niro             1850
5         Smart EQ Fortwo             1790
6   Hyundai Kona Electric             1513
7       Volkswagen E-Golf              661
8  Hyundai Ioniq Electric              553
9          Citroën C-Zero              543

In [67]:
url = 'https://www.automobile-propre.com/voiture-electrique-le-top-10-des-ventes-en-france-en-2020/'
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

li_elements = soup.find_all("ul")[13].find_all("li")

titles = [
    "Renault Zoé : 37 409",
    "Peugeot e-208 : 16 557",
    "Tesla Model 3 : 6 477",
    "Hyundai Kona : 5 156",
    "Kia e-Niro : 5 089",
    "Volkswagen ID.3 : 4 187",
    "Nissan Leaf : 3 395",
    "Peugeot e-2008 : 2 933",
    "DS DS3 Crossback : 2 710",
    "Mini Electric : 2 481"
]
car_models = []
units_sold = []

for title in titles:
    if ':' in title:
        model, units = title.split(':')
        car_models.append(model.strip())
        units_sold.append(int(units.replace(' ', '')))

carsales_2020 = pd.DataFrame({'Modèle': car_models, 'Immatriculations': units_sold})
carsales_2020

             Modèle  Immatriculations
0       Renault Zoé             37409
1     Peugeot e-208             16557
2     Tesla Model 3              6477
3      Hyundai Kona              5156
4        Kia e-Niro              5089
5   Volkswagen ID.3              4187
6       Nissan Leaf              3395
7    Peugeot e-2008              2933
8  DS DS3 Crossback              2710
9     Mini Electric              2481