In [35]:
import requests
import json
import pandas as pd

In [36]:
api_url = 'https://data.enedis.fr/api/explore/v2.1/catalog/datasets/nombre-total-de-points-de-charge/records?limit=35'

In [37]:
response = requests.get(api_url)
if response.status_code == 200:
    data = response.json()
    # Do something with the data, e.g., print it
    print(json.dumps(data, indent=2))
else:
    print(f"Failed to retrieve data: {response.status_code}")

{
  "total_count": 35,
  "results": [
    {
      "trimestre": "2020 T4",
      "accessible_au_public": 34686,
      "particulier": 267371,
      "societe": 237863
    },
    {
      "trimestre": "2020 T3",
      "accessible_au_public": 33369,
      "particulier": 222346,
      "societe": 198437
    },
    {
      "trimestre": "2020 T2",
      "accessible_au_public": 32648,
      "particulier": 192823,
      "societe": 180499
    },
    {
      "trimestre": "2019 T4",
      "accessible_au_public": 30203,
      "particulier": 144123,
      "societe": 135563
    },
    {
      "trimestre": "2018 T3",
      "accessible_au_public": 24319,
      "particulier": 97164,
      "societe": 96616
    },
    {
      "trimestre": "2015 T4",
      "accessible_au_public": 11113,
      "particulier": 37448,
      "societe": 42891
    },
    {
      "trimestre": "2015 T2",
      "accessible_au_public": 10086,
      "particulier": 29662,
      "societe": 37933
    },
    {
      "trimestre": "2022 T2",
      "accessible_au_public": 64546,
      "particulier": 575686,
      "societe": 420774
    },
    {
      "trimestre": "2019 T2",
      "accessible_au_public": 27668,
      "particulier": 123368,
      "societe": 118974
    },
    {
      "trimestre": "2018 T1",
      "accessible_au_public": 26325,
      "particulier": 86681,
      "societe": 84921
    },
    {
      "trimestre": "2017 T1",
      "accessible_au_public": 17423,
      "particulier": 62957,
      "societe": 63757
    },
    {
      "trimestre": "2016 T3",
      "accessible_au_public": 12859,
      "particulier": 52052,
      "societe": 55309
    },
    {
      "trimestre": "2015 T1",
      "accessible_au_public": 8478,
      "particulier": 25638,
      "societe": 34746
    },
    {
      "trimestre": "2022 T4",
      "accessible_au_public": 82107,
      "particulier": 688060,
      "societe": 493648
    },
    {
      "trimestre": "2021 T4",
      "accessible_au_public": 53667,
      "particulier": 465424,
      "societe": 368355
    },
    {
      "trimestre": "2021 T1",
      "accessible_au_public": 37491,
      "particulier": 307174,
      "societe": 269327
    },
    {
      "trimestre": "2016 T2",
      "accessible_au_public": 13861,
      "particulier": 48412,
      "societe": 52015
    },
    {
      "trimestre": "2021 T3",
      "accessible_au_public": 49086,
      "particulier": 402361,
      "societe": 331981
    },
    {
      "trimestre": "2018 T4",
      "accessible_au_public": 26254,
      "particulier": 106839,
      "societe": 104895
    },
    {
      "trimestre": "2017 T4",
      "accessible_au_public": 19309,
      "particulier": 79807,
      "societe": 78881
    },
    {
      "trimestre": "2017 T3",
      "accessible_au_public": 20688,
      "particulier": 73404,
      "societe": 73713
    },
    {
      "trimestre": "2019 T3",
      "accessible_au_public": 29545,
      "particulier": 132275,
      "societe": 125667
    },
    {
      "trimestre": "2021 T2",
      "accessible_au_public": 43699,
      "particulier": 359188,
      "societe": 307269
    },
    {
      "trimestre": "2017 T2",
      "accessible_au_public": 19750,
      "particulier": 68509,
      "societe": 68930
    },
    {
      "trimestre": "2015 T3",
      "accessible_au_public": 10928,
      "particulier": 32278,
      "societe": 38681
    },
    {
      "trimestre": "2023 T3",
      "accessible_au_public": 109856,
      "particulier": 906942,
      "societe": 652131
    },
    {
      "trimestre": "2022 T3",
      "accessible_au_public": 71630,
      "particulier": 623836,
      "societe": 446585
    },
    {
      "trimestre": "2020 T1",
      "accessible_au_public": 31081,
      "particulier": 172822,
      "societe": 167797
    },
    {
      "trimestre": "2016 T4",
      "accessible_au_public": 16220,
      "particulier": 57039,
      "societe": 59408
    },
    {
      "trimestre": "2023 T2",
      "accessible_au_public": 101681,
      "particulier": 838695,
      "societe": 600186
    },
    {
      "trimestre": "2023 T1",
      "accessible_au_public": 95755,
      "particulier": 763452,
      "societe": 540928
    },
    {
      "trimestre": "2022 T1",
      "accessible_au_public": 57732,
      "particulier": 515435,
      "societe": 392504
    },
    {
      "trimestre": "2019 T1",
      "accessible_au_public": 27516,
      "particulier": 115690,
      "societe": 113101
    },
    {
      "trimestre": "2018 T2",
      "accessible_au_public": 22283,
      "particulier": 92537,
      "societe": 90950
    },
    {
      "trimestre": "2016 T1",
      "accessible_au_public": 12830,
      "particulier": 43284,
      "societe": 48013
    }
  ]
}

In [42]:
data = {
  "total_count": 35,
  "results": [
      
    {"ann√©e":"2015","trimestre":"T1","accessible_au_public": 8478,"particulier": 25638,"societe": 34746},
    {"ann√©e":"2015","trimestre":"T2","accessible_au_public": 10086,"particulier": 29662,"societe": 37933 },
    {"ann√©e":"2015","trimestre":"T3","accessible_au_public": 10928,"particulier": 32278,"societe": 38681},
    {"ann√©e":"2015","trimestre":"T4","accessible_au_public": 11113, "particulier": 37448,"societe": 42891},
    {"ann√©e":"2016","trimestre":"T1","accessible_au_public": 12830,"particulier": 43284,"societe": 48013},
    {"ann√©e":"2016","trimestre":"T2","accessible_au_public": 13861,"particulier": 48412,"societe": 52015},
    {"ann√©e":"2016","trimestre":"T3","accessible_au_public": 12859, "particulier": 52052,"societe": 55309},
    {"ann√©e":"2016","trimestre":"T4","accessible_au_public": 16220,"particulier": 57039,"societe": 59408},
    {"ann√©e":"2017","trimestre":"T1","accessible_au_public": 17423,"particulier": 62957,"societe": 63757},
    {"ann√©e":"2017","trimestre":"T2","accessible_au_public": 19750,"particulier": 68509,"societe": 68930},
    {"ann√©e":"2017","trimestre":"T3","accessible_au_public": 20688,"particulier": 73404,"societe": 73713},
    {"ann√©e":"2017","trimestre":"T4","accessible_au_public": 19309,"particulier": 79807,"societe": 78881},
    {"ann√©e":"2018","trimestre":"T1","accessible_au_public": 26325,"particulier": 86681,"societe": 84921},
    {"ann√©e":"2018","trimestre":"T2","accessible_au_public": 22283,"particulier": 92537,"societe": 90950},
    {"ann√©e":"2018","trimestre":"T3", "accessible_au_public": 24319,"particulier": 97164,"societe": 96616},
    {"ann√©e":"2018","trimestre":"T4","accessible_au_public": 26254,"particulier": 106839,"societe": 104895},
    {"ann√©e":"2019","trimestre":"T1","accessible_au_public": 27516,"particulier": 115690,"societe": 113101},
    {"ann√©e":"2019","trimestre":"T2","accessible_au_public": 27668, "particulier": 123368,"societe": 118974},
    {"ann√©e":"2019","trimestre":"T3","accessible_au_public": 29545,"particulier": 132275,"societe": 125667},
    {"ann√©e":"2019","trimestre":"T4","accessible_au_public": 30203,"particulier": 144123,"societe": 135563},
    {"ann√©e":"2020","trimestre":"T1","accessible_au_public": 31081,"particulier": 172822,"societe": 167797},
    {"ann√©e":"2020","trimestre":"T2","accessible_au_public": 32648,"particulier": 192823,"societe": 180499},
    {"ann√©e":"2020","trimestre":"T3","accessible_au_public": 33369,"particulier": 222346,"societe": 198437},
    {"ann√©e":"2020","trimestre":"T4","accessible_au_public": 34686,"particulier": 267371,"societe": 237863},
    {"ann√©e":"2021","trimestre":"T1","accessible_au_public": 37491,"particulier": 307174,"societe": 269327},
    {"ann√©e":"2021","trimestre":"T2","accessible_au_public": 43699,"particulier": 359188,"societe": 307269},
    {"ann√©e":"2021","trimestre":"T3","accessible_au_public": 49086,"particulier": 402361,"societe": 331981},
    {"ann√©e":"2021","trimestre":"T4","accessible_au_public": 53667,"particulier": 465424,"societe": 368355},
    {"ann√©e":"2022","trimestre":"T1","accessible_au_public": 57732,"particulier": 515435,"societe": 392504},
    {"ann√©e":"2022","trimestre":"T2","accessible_au_public": 64546,"particulier": 575686,"societe": 420774},
    {"ann√©e":"2022","trimestre":"T3","accessible_au_public": 71630,"particulier": 623836,"societe": 446585},
    {"ann√©e":"2022","trimestre":"T4","accessible_au_public": 82107,"particulier": 688060,"societe": 493648},
    {"ann√©e":"2023","trimestre":"T1","accessible_au_public": 95755,"particulier": 763452,"societe": 540928},
    {"ann√©e":"2023","trimestre":"T2","accessible_au_public": 101681,"particulier": 838695,"societe": 600186 },
    {"ann√©e":"2023","trimestre":"T3","accessible_au_public": 109856,"particulier": 906942,"societe": 652131},
  ]
}

charging_points_fr = pd.DataFrame(data['results'])
charging_points_fr

   ann√©e trimestre  accessible_au_public  particulier  societe
0   2015        T1                  8478        25638    34746
1   2015        T2                 10086        29662    37933
2   2015        T3                 10928        32278    38681
3   2015        T4                 11113        37448    42891
4   2016        T1                 12830        43284    48013
5   2016        T2                 13861        48412    52015
6   2016        T3                 12859        52052    55309
7   2016        T4                 16220        57039    59408
8   2017        T1                 17423        62957    63757
9   2017        T2                 19750        68509    68930
10  2017        T3                 20688        73404    73713
11  2017        T4                 19309        79807    78881
12  2018        T1                 26325        86681    84921
13  2018        T2                 22283        92537    90950
14  2018        T3                 24319        97164    96616
15  2018        T4                 26254       106839   104895
16  2019        T1                 27516       115690   113101
17  2019        T2                 27668       123368   118974
18  2019        T3                 29545       132275   125667
19  2019        T4                 30203       144123   135563
20  2020        T1                 31081       172822   167797
21  2020        T2                 32648       192823   180499
22  2020        T3                 33369       222346   198437
23  2020        T4                 34686       267371   237863
24  2021        T1                 37491       307174   269327
25  2021        T2                 43699       359188   307269
26  2021        T3                 49086       402361   331981
27  2021        T4                 53667       465424   368355
28  2022        T1                 57732       515435   392504
29  2022        T2                 64546       575686   420774
30  2022        T3                 71630       623836   446585
31  2022        T4                 82107       688060   493648
32  2023        T1                 95755       763452   540928
33  2023        T2                101681       838695   600186
34  2023        T3                109856       906942   652131